.food-section__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 300px;
  height: 430px;
  padding: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fff;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  & > div:first-child {
    transition: filter 0.2s ease;
    -webkit-transition: filter 0.2s ease;
    -moz-transition: filter 0.2s ease;
    -ms-transition: filter 0.2s ease;
    -o-transition: filter 0.2s ease;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    filter: contrast(0);
    -webkit-filter: contrast(0);
    &:hover,
    &.active-fav {
      filter: contrast(2);
      -webkit-filter: contrast(2);
    }
  }
  &:hover {
    box-shadow: rgb(0 0 0 / 16%) 1px 5px 16px -5px;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }
  &-img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 8px;
  }
  &-description {
    & > a {
      transition: color 0.2s ease;
      &:hover {
        color: #004d9b;
      }
    }
  }
  &-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
  }
  &-price {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: 500;
    & .discounted-price {
      font-size: 21px;
    }
    & .old-price {
      position: relative;
      display: inline-block;
      margin: 0 12px;
      font-size: 19px;
      &::before {
        content: "";
        transform-origin: center;
        background: #e53935;
        width: 104%;
        height: 2px;
        position: absolute;
        top: 52%;
        left: -2px;
        transform: translateY(-50%) rotate(12deg);
      }
    }
    & .active-discount {
      color: #fff;
      background: #ff7020;
      border-radius: 0 3px 3px 3px;
      padding: 2px 4px 2px 12px;
      font-size: 13px;
      position: relative;
      clip-path: polygon(8px 0, 100% 0, 100% 100%, 8px 100%, 0 50%);
      position: relative;
      align-self: center;
      & > i {
        position: absolute;
        top: 50%;
        transform: translateY(-55%);
        left: 6px;
      }
    }
  }
  &-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    margin-top: 12px;
    width: fit-content;
    & .stars-container {
      width: fit-content;
    }
  }
  &-size {
    color: #b1b1b1;
    font-size: 16px;
    margin-top: auto;
  }
  &-add {
    margin-top: 10px;
    &-btn,
    &-btn--delete {
      width: 100%;
      height: 40px;
      color: #000;
      background-color: #f2f2f3;
      font-size: 16px;
      font-weight: 400;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      &--active {
        background-color: #f86310;
      }
      &:hover {
        color: #fff;
        background-color: #ffab08;
      }
      &:active {
        background-color: #f86310;
      }
    }
    &-btn--delete {
      background-color: #f86310;
      color: #fff;
    }
  }
}
