.food-section__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 300px;
  height: 430px;
  padding: 12px;
  background-color: #fff;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  &:hover {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 16%) 1px 5px 16px -5px;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }
  &-img {
    margin-bottom: 14px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
    text-align: center;
  }
  &-description {
    margin-bottom: 8px;
    & h3 {
      margin-bottom: 13px;
      font-size: 24px;
      font-weight: 600;
    }
    & p:nth-child(2) {
      margin-bottom: 34px;
      font-size: 17px;
      font-weight: 400;
    }
    & p:nth-child(3) {
      margin-bottom: 13px;
      color: #b1b1b1;
      font-size: 14px;
    }
  }
  &-add {
    &-btn,
    &-btn--delete {
      width: 100%;
      height: 40px;
      color: #000;
      background-color: #f2f2f3;
      font-size: 16px;
      font-weight: 400;
      border-radius: 18px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      -o-border-radius: 18px;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      &--active {
        background-color: #f86310;
      }
      &:hover {
        color: #fff;
        background-color: #ffab08;
      }
      &:active {
        background-color: #f86310;
      }
    }
    &-btn--delete {
      background-color: #f86310;
      color: #fff;
    }
  }
}
