.cart-sidebar__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 100%;
  height: 84px;
  padding: 12px 0;
  box-shadow: rgba(177, 177, 177, 0.24) 0px 1px;
  &-img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  &-description {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: 0 10px;
    margin: 0;
    max-width: 104px;
    width: 100%;
    height: 100%;
    word-break: break-all;
    & .cart-sidebar__item-title,
    .cart-sidebar__item-price {
      font-size: 12px;
      font-weight: 400;
    }
    & .cart-sidebar__item-title {
      display: -webkit-box;
      grid-column: 1 / -1;
      order: -1;
      margin-bottom: 5px;
      font-size: 13px;
      word-break: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    & .cart-sidebar__item-price span:nth-child(1) {
      position: relative;
      margin-right: 7px;
    }
    & .cart-sidebar__item-price span:nth-child(1)::before {
      content: "";
      transform-origin: center;
      background: #e53935;
      width: 102%;
      height: 1px;
      position: absolute;
      top: 53%;
      left: -1px;
      transform: translateY(0%) rotate(13deg);
    }
  }
  &-quantity {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 76px;
    height: 38px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    background-color: #f2f2f3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    & button {
      width: 14px;
      font-family: monospace;
      font-size: 24px;
    }
    & span {
      padding-top: 4px;
    }
  }
  &:last-child {
    box-shadow: none;
  }
  &--empty {
    font-size: 17px;
    text-align: center;
    justify-content: center;
  }
}
