.cart-page-section__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0 20px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 1px 0 0px #9a99993d;
  &:last-child {
    box-shadow: none;
  }
  & .quantity-control {
    height: 46px;
  }
}

.cart-page-section__description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: end;
  justify-items: start;
  width: 70%;
  & .cart-page-section__name {
    grid-column: 1 / -1;
    order: -1;
    font-size: 20px;
  }
  & .cart-page-section__price {
    margin-left: auto;
    font-weight: 600;
    font-size: 22px;
    & .old-price {
      margin-right: 12px;
      font-size: 21px;
      position: relative;
    }
    & .old-price::before {
      content: "";
      transform-origin: center;
      background: #e53935;
      width: 101%;
      height: 2px;
      position: absolute;
      top: 52%;
      left: -1px;
      transform: translateY(-125%) rotate(10deg);
    }
    & .discounted-price {
      font-size: 23px;
    }
  }
  & .cart-page-section__size {
    font-weight: normal;
    font-size: 15px;
    color: #b1b1b1;
  }
}

.cart-page-section__remove-item {
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #ff0000f0;
    opacity: 0.6;
    font-size: 18px;
    box-shadow: inset 0px 0px 0px 1.2px #ff0000f0;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
  }
  & button:hover {
    opacity: 1;
    box-shadow: inset 0px 0px 0px 1.8px #ff0000f0;
    font-size: 19px;
    font-weight: 600;
  }
}
