.currency-switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 3px;

  &__current {
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    width: fit-content;
    padding-right: 1px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
  }

  &__arrow {
    cursor: pointer;
    font-size: 10px;
    color: #fff;
    transition: transform 0.2s ease;

    &--up {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    z-index: 1000;
    background: #fff;
    width: 40px;
    margin-top: 4px;
    display: flex;
    position: absolute;
    top: 100%;
    padding: 2px 0 2px 1.5px;
    left: 0;
    box-shadow: 0 2px 4px #0000001a;
    align-items: center;

    &:hover {
      background: #f5f5f5;
    }
  }

  &__option {
    cursor: pointer;
    color: #f86310;
    background: none;
    border: none;
    width: fit-content;
    padding: 0px 0px;
    font-size: 12px;
    font-weight: 600;
  }
}
