.food-categories {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 0px 18px;
  grid-area: header;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  &__item {
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  &__btn {
    display: flex;
    gap: 0 8px;
    align-items: center;
    padding: 8px 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    &--active {
      background-color: #ffab08;
      color: #fff;
    }
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #ffab08;
    }
  }
}
