.food-section {
  grid-area: right;
  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 300px;
    height: 411px;
    padding: 12px;
    background-color: #fff;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    &-img {
      width: 100%;
      height: 220px;
      margin-bottom: 16px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      overflow: hidden;
    }
    &-description {
      margin-bottom: 8px;
      & h3 {
        margin-bottom: 13px;
        font-size: 24px;
        font-weight: 600;
      }
      & p:nth-child(2) {
        margin-bottom: 34px;
        font-size: 16px;
        font-weight: 400;
      }
      & p:nth-child(3) {
        color: #b1b1b1;
        font-weight: 600;
        margin-bottom: 13px;
      }
    }
    &-add-btn {
      & button {
        width: 100%;
        height: 40px;
        color: #000;
        background-color: #f2f2f3;
        font-size: 16px;
        font-weight: 400;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
      }
    }
  }
  &__load-more {
    display: block;
    margin: 0 auto 100px;
    height: 40px;
    width: 300px;
    color: #fff;
    background-color: #ff7020;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}
