.delivery-section {
  margin-bottom: 50px;
  color: #444444;
  &__title {
    margin: 30px 0;
    font-size: 36px;
  }
  &__img {
    max-width: 500px;
    width: 100%;
    margin: 20px 0;
  }
  &__info {
    max-width: 870px;
    padding: 0 10px;
    & h2 {
      margin: 10px 0;
      font-size: 30px;
    }
    & ul {
      padding-left: 26px;
    }
    & li,
    p {
      list-style: disc;
      font-size: 16px;
    }
    & p:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
