body {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  background-color: #f9f9f9;
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background-color: #ffab08;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff5c00;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.main {
  flex: 1;
}

.container {
  max-width: 1310px;
  padding: 0 10px;
  margin: 0 auto;
}

.old-price {
  color: #999;
  margin-right: 10px;
}

.discounted-price {
  color: #e53935;
  font-weight: bold !important;
}

.no-discount {
  color: black;
  font-weight: 600 !important;
}
