body {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  background-color: #f9f9f9;
  user-select: none;
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background-color: #ffab08;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff5c00;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.main {
  flex: 1;
}

.container {
  max-width: 1310px;
  padding: 0 10px;
  margin: 0 auto;
}
