.main-content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "left right";
  gap: 50px 30px;
  margin-bottom: 60px;
}

.food-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: right;
  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 60px;
    & svg {
      border: 3px solid #f3f3f3;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }
  }
  &__load-more {
    display: block;
    margin: 0 auto 0;
    height: 40px;
    width: 300px;
    color: #fff;
    background-color: #ff7020;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}
