.main-content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "left right";
  gap: 50px 30px;
  margin-bottom: 60px;
}

.food-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: right;
  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 60px;
    & svg {
      border: 3px solid #f3f3f3;
      border-radius: 18px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      -o-border-radius: 18px;
    }
  }
  &__empty {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px 0;
    margin: 0 auto;
    font-size: 16px;
    & b {
      font-weight: 100;
      font-size: 68px;
    }
  }
  &__load-more {
    display: block;
    margin: 0 auto 0;
    height: 40px;
    width: 300px;
    color: #fff;
    background-color: #ff7020;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    will-change: transform;
    &:hover {
      font-weight: 600;
      box-shadow: 0px 4px 0px 0px #e0621c;
      transform: translate(0px, -5px);
      -webkit-transform: translate(0px, -5px);
      -moz-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
      -o-transform: translate(0px, -5px);
    }
  }
}

.food-card-animated-wrapper {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
