.not-found-wrapper {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  &__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    gap: 0 12px;
    color: #ffab08;
  }
  &__description {
    font-size: 24px;
  }
  &__btn {
    font-size: 20px;
    margin-top: 80px;
    color: #fff;
    border-radius: 25px;
    padding: 8px 22px;
    background: #ff7020;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    &:hover {
      font-weight: 600;
      box-shadow: 1px 4px 0px 0px #e0621c;
      transform: translate(-5px, -5px);
      -webkit-transform: translate(-5px, -5px);
      -moz-transform: translate(-5px, -5px);
      -ms-transform: translate(-5px, -5px);
      -o-transform: translate(-5px, -5px);
    }
  }
  &__title b {
    transform: perspective(300px) rotateX(33deg) scaleY(0.8);
    text-shadow:
      0 0 10px #be7e06b8,
      0 10px 3px #c88403b8;
  }
}
