.cart-page-section {
  height: 100%;
  & .cart-page-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    gap: 0 70px;
    margin-bottom: 40px;
  }
  &__title {
    grid-column: span 2;
    margin: 20px 0 0 0;
    font-size: 36px;
  }
  & .nav-buttons {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 10px;
  }
  &__list-wrapper {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
    min-height: 481px;
    position: relative;
    padding: 30px;
    background: #fff;
    & .empty-cart-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
  &__clear-cart {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0 6px;
    position: absolute;
    right: 2px;
    top: -30px;
    font-size: 16px;
    color: #b1b1b1;
    transition: filter 0.3s ease;
    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
  }
  &__clear-cart:hover {
    filter: brightness(0);
  }
  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow:
      0 1px 0 0px #9a99993d,
      0 -1px 0 0px #9a99993d;
    & svg {
      box-shadow: 0 1px #9a99993d;
    }
  }
  &__right-side {
    display: flex;
    flex-flow: column nowrap;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    position: sticky;
    top: 10px;
    max-height: 531px;
  }
  &__total-price {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    max-height: 481px;
    height: 100%;
    padding: 20px;
    margin-bottom: 0;
    background-color: #fff;
    border: 2px dashed #00000099;
    font-family: monospace;
    box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.215);
  }
  &__pay-btn {
    height: 36px;
    margin-top: 20px;
    color: #fff;
    background-color: #ff7020;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    will-change: transform;
    &:hover {
      font-weight: 600;
      box-shadow: 0px 4px 0px 0px #e0621c;
      transform: translate(0px, -5px);
      -webkit-transform: translate(0px, -5px);
      -moz-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
      -o-transform: translate(0px, -5px);
    }
  }
}
