.registration-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 1px 5px 16px -5px #00000029;

  &__image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 20px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  &__signup {
    display: flex;
    flex-direction: column;
    & div:nth-child(3) {
      margin-bottom: 4px;
    }
    & .registration-form__field .english-style {
      left: 52px;
    }
    & .registration-form__field:nth-child(3) .english-style {
      left: 80px;
    }
  }

  &__login {
    position: relative;
    & .registration-form__field:nth-of-type(1) .registration-form__input--error {
      left: 55px;
      top: 1px;
    }

    & .registration-form__field:nth-of-type(2) {
      margin-bottom: 3px;
    }

    & .registration-form__field:nth-of-type(2) .registration-form__input--error {
      left: 65px;
    }

    & .registration-form__input--error {
      top: 88px;
      left: 64px;
    }

    & .registration-form__field:nth-of-type(1) .english-style {
      left: 52px;
    }

    & .registration-form__field:nth-of-type(2) .english-style {
      left: 82px;
    }
  }

  &__field {
    margin-bottom: 18px;
    position: relative;
    &:nth-child(1) p {
      left: 40px;
    }
    &:nth-child(2) p {
      left: 55px;
      top: 2px;
    }
    &:nth-child(3) p {
      left: 65px;
      top: 2px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 2px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 15px;
    color: #555;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    &--error {
      position: absolute;
      top: 1px;
      color: red;
      font-size: 14px;
    }
  }

  & #password {
    padding: 10px 35px 10px 10px;
  }

  &__button {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--primary {
      margin: 24px auto 8px;
      width: 100%;
      background-color: #28a745;
      border: solid 1px rgb(48 149 71);
      color: #fff;

      &:hover {
        filter: brightness(0.95);
        -webkit-filter: brightness(0.95);
      }
    }

    &--secondary {
      color: #007bff;
      text-decoration: underline;
      font-weight: 600;
      font-size: 15px;

      &:hover {
        filter: brightness(0.75);
        -webkit-filter: brightness(0.75);
      }
    }
  }

  &__password-container {
    position: relative;
  }

  &__toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 0;
    .registration-form__button {
      flex: 1;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__close-btn {
    position: absolute;
    right: 13px;
    top: 13px;
    opacity: 0.8;
    width: 20px;
    height: 20px;
    & > img {
      filter: saturate(0.8);
      -webkit-filter: saturate(0.8);
      transition: filter 0.2s ease;
      -webkit-transition: filter 0.2s ease;
      -moz-transition: filter 0.2s ease;
      -ms-transition: filter 0.2s ease;
      -o-transition: filter 0.2s ease;
      &:hover {
        filter: saturate(1);
        -webkit-filter: saturate(1);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

/* Скрыть иконку переключения видимости пароля в Edge и IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

.registration-form__verify {
  position: relative;
  & > .registration-form__label {
    padding-left: 1px;
  }
  & > .registration-form__input {
    margin-bottom: 8px;
  }
  & > .registration-form__input--error {
    top: 1px;
    left: 104px;
  }
  & > .registration-form__button--secondary {
    text-align: left;
    padding: 0;
    padding-left: 1px;
    text-decoration: none;
    width: auto;
  }
  & > .registration-form__button--primary {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #309547;
    width: 100%;
    margin: 10px auto 12px;
  }
  > .registration-form__buttons-group > .registration-form__button--primary {
    margin-top: 10px;
  }
  & > .registration-form__buttons-group > .registration-form__button--secondary {
    background: #da3036;
    text-decoration: none;
    color: #fff;
    border: 1px solid #be2d32;
  }
}

.registration-form__divider {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 2px;
}

.registration-form__line {
  flex-grow: 1;
  height: 1px;
  background: #73737378;
  margin: 0 !important;
}

.registration-form__or {
  margin: 0 10px;
  color: #737373ab;
  font-size: 13px;
}
