.total-price-title {
  font-size: 22px;
  margin-bottom: 6px;
}

.total-price-date {
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
  font-size: 13px;
  border-bottom: 1px dotted #000;
  color: grey;
}

.total-price-item-list {
  overflow: hidden scroll;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  margin: 10px 0;
  & ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 7px 0;
    padding-right: 8px;
  }
  & li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0 8px;
    font-size: 18px;
    & span:nth-child(3) {
      margin-left: auto;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.total-price-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-top: auto;
  font-size: 15px;
  & p {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px dotted #000;
  }
  & p:nth-child(1) {
    padding-top: 0;
  }
  & p > span {
    font-size: 16px;
  }
  & p:nth-child(2) {
    color: red;
  }
  & p:nth-child(3) {
    font-weight: 600;
    color: green;
  }
}

.total-price-thank {
  margin: 16px 0 14px;
  font-size: 13px;
}

.total-price-tips {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  & p {
    border: none;
    margin-bottom: 8px;
    font-size: 12px;
    width: 100%;
    margin-right: auto;
  }
  & .tip-option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 4px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #000;
    font-weight: 500;
    letter-spacing: -0.5px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    &:hover,
    &--active {
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      color: green;
      border-bottom: 1px solid green;
      cursor: pointer;
    }
  }
  & .tip-option:disabled {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    pointer-events: none;
  }
}
