.footer {
  height: 220px;
  flex: 0 0 auto;
  background-color: #fff;
  &-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    height: 100%;
    padding: 40px 0 30px 0 !important;
  }
  &__logo {
    width: 300px;
    height: 58px;
  }
  &__number {
    margin-left: auto;
    & p {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 25px;
    }
    & a {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      gap: 0 4px;
      font-size: 16px;
      font-weight: 400;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      &:hover {
        color: #0027ff;
        text-decoration: underline;
      }
    }
  }
  &__social {
    margin-left: 125px;
    & p {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    &-list {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      background: #ff7020;
      position: relative;
      transition:
        transform 0.2s ease-in,
        color 0.2s ease-in;
      -webkit-transition:
        transform 0.2s ease-in,
        color 0.2s ease-in;
      -moz-transition:
        transform 0.2s ease-in,
        color 0.2s ease-in;
      -ms-transition:
        transform 0.2s ease-in,
        color 0.2s ease-in;
      -o-transition:
        transform 0.2s ease-in,
        color 0.2s ease-in;
      overflow: hidden;
      z-index: 1;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      & a {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    &-item::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: bottom center;
      transition: transform 0.3s ease;
      z-index: -1;
    }
    &-item:nth-child(1)::before {
      background-color: #1d1d1b;
    }
    &-item:nth-child(2)::before {
      background: linear-gradient(45deg, #c21d9e, #ff000c);
    }
    &-item:nth-child(3)::before {
      background-color: blue;
    }
    &-item:hover {
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
    }
    &-item:hover::before {
      transform: scaleY(1);
    }
  }
  &__copyright {
    flex: 1 1 100%;
    & p {
      font-size: 12px;
      font-weight: 400;
    }
    & p:first-child {
      margin-bottom: 6px;
    }
  }
  &-product {
    background: #fafafa;
  }
}
