.cart-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-height: 467px;
  height: fit-content;
  min-height: 109px;
  padding: 16px 16px;
  grid-area: left;
  position: sticky;
  top: 30px;
  margin-top: 86px;
  background-color: #fff;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  &__total-orders {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px 0px #b1b1b13d;
    padding-bottom: 12px;
    & h2 {
      font-size: 24px;
      font-weight: 400;
    }
    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 26px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      background-color: #f2f2f3;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
  }
  &__description-orders {
    margin-bottom: 16px;
    box-shadow: 0px 1px 0px 0px #b1b1b13d;
    overflow: hidden auto;
    scrollbar-width: none;
  }
  &__list {
  }
  &__total-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    & p,
    span {
      font-size: 16px;
      font-weight: 400;
    }
    & span {
      font-weight: 600;
    }
  }
  &__place-order {
    margin-bottom: 20px;
    & button {
      height: 40px;
      width: 100%;
      color: #fff;
      background-color: #ff7020;
      font-size: 16px;
      font-weight: 400;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
    }
  }
  &__delivery {
    font-size: 12px;
    font-weight: 400;
    padding-top: 3px;
    &-link {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      gap: 0 8px;
      transition: .3s ease;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -ms-transition: .3s ease;
      -o-transition: .3s ease;
      &:hover {
        color: #2b3b93;
      }
    }
  }
}
