.personal-account > .container {
  display: grid;
  gap: 0px 20px;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;

  & > .nav-buttons {
    grid-column: 1 / -1;
  }
}

.personal-account__title {
  grid-column: span 2;
  margin: 20px 0 0;
  font-size: 36px;
}
.personal-account__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}
.personal-account__avatar {
  margin-bottom: 10px;
  border: 1px solid #000000ba;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -webkit-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -moz-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -ms-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  -o-transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.avatar-visible {
  opacity: 1;
  transform: scale(1);
}

.avatar-hidden {
  opacity: 0;
  transform: scale(0.8);
}

.personal-account__avatar-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-account__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 716px;
  width: 100%;
  margin-bottom: 40px;
  margin-left: auto;
}

.personal-account__user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  & .personal-account__field:nth-child(1),
  & .personal-account__field:nth-child(2) {
    gap: 16px 10px;
  }
  & .personal-account__field:nth-child(3) {
    gap: 0 10px;
  }
}

.personal-account__promo {
  position: relative;
  background-color: #fff;
  padding: 20px;
  height: 125px;
  margin-bottom: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  & > .personal-account__field {
    gap: 15px 8px;
    margin: 0;
  }
  &::after {
    content: "PromoCode1";
    color: #cccccc;
    width: 130px;
    height: 34px;
    position: absolute;
    z-index: 2;
    border: 1px dashed;
    border-radius: 4px;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  &::before {
    content: "PromoCode2";
    color: #cccccc;
    width: 130px;
    height: 34px;
    position: absolute;
    z-index: 2;
    border: 1px dashed;
    border-radius: 4px;
    top: 70px;
    left: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  &.has-promo {
    &::before,
    &::after {
      content: none !important;
      display: none !important;
    }
  }
}

.personal-account__field {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
}

.personal-account__label {
  grid-row: 1;
  min-width: 100px;
  width: fit-content;
  font-weight: bold;
}

.personal-account__button--primary:disabled,
.personal-account__promo-item.disabled,
.personal-account__button--delete:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.personal-account__input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
}

.personal-account__controls {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.personal-account__balance {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personal-account__balance-controls {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.personal-account__button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.personal-account__left button {
  color: white;
}

.personal-account__edit-buttons button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}

.personal-account__controls button:nth-child(1) {
  background-color: #28a745;
}

.personal-account__controls button:nth-child(2) {
  background-color: #dc3545;
}

.personal-account__balance-controls button:nth-child(1) {
  background-color: #28a745;
  color: white;
  &:hover {
    background-color: #259d41;
  }
}

.personal-account__avatar-controls button:nth-child(1) {
  background-color: #28a745;
}

.personal-account__avatar-controls button:nth-child(2) {
  background-color: #dc3545;
}

.personal-account__promo button {
  background-color: #ff7020;
  color: white;
  &:hover {
    background-color: #ef6b1f;
  }
}

.personal-account__button--secondary {
  background-color: #6c757d;
  color: white;
  &:hover {
    background-color: #616a72;
  }
}

.personal-account__button--save {
  background-color: #007bff;
  color: white;
}

.personal-account__button--cancel {
  background-color: #dc3545;
  color: white;
}

.personal-account__left button,
.personal-account__right button {
  font-weight: 600;
}

.personal-account__button--logout {
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
  width: fit-content;
  padding: 8px 12px;
  &:hover {
    background: #c8303f;
  }
}

.personal-account__button--delete {
  background-color: #dc3545;
  &:hover {
    background: #c8303f;
  }
}

.personal-account__button--edit {
  background-color: #007bff;
  color: #fff;
  &.disabled-google {
    opacity: 0.6;
    &:hover {
      cursor: default;
    }
  }
  &:not(.disabled-google):hover {
    background: #0270e7;
  }
}

.personal-account__button--edit-info {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.personal-account__password-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-account__edit-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

.personal-account__button--save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.personal-account__value-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  & button {
    background-color: transparent;
    height: 20px;
  }
}

.personal-account__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.personal-account__promo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  grid-row: 1;
  position: relative;
}

.personal-account__promo-select {
  position: relative;
}

.personal-account__promo-toggle {
  position: relative;
  padding: 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  cursor: pointer;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  & > img {
    animation: listPromoIconSpin 3s linear infinite;
    -webkit-animation: listPromoIconSpin 3s linear infinite;
  }
  &:hover > img,
  .personal-account__promo-symbol:hover ~ img {
    animation-play-state: paused;
  }
}

.personal-account__promo-symbol {
  color: #fff;
  position: absolute;
  z-index: 100;
  line-height: 1;
  font-size: 14px;
  width: 12px;
  height: 12px;
  padding: 1px 1px 0 0;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  &:hover img {
    animation-play-state: paused;
  }
}

@keyframes listPromoIconSpin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.personal-account__promo-list {
  position: absolute;
  top: 110%;
  left: 0;
  width: 172px;
  max-height: 157px;
  overflow-y: auto;
  background: white;
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 10;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.personal-account__promo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  font-weight: 600;
  font-size: 15px;
  color: #28a745;
  box-shadow: inset 0px -1px 0px 0px #cefbbc;
  letter-spacing: 0.3px;

  & > p {
    word-break: break-word;
  }

  &:hover {
    background: #f3f4f6;
  }
  &--default {
    font-weight: 700;
    color: #ffab08;
    box-shadow: inset 0px -1px 0px 0px #fbe5bc;
  }
}

.personal-account__promo-active {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  grid-column: 1 / -1;
  grid-row: 2;
}

.personal-account__promo-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #28a745;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  padding: 1px 8px 0 8px;
  width: fit-content;
  cursor: default;
  opacity: 1;
  letter-spacing: 0.3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  animation: fadeInScale 0.3s ease forwards;
  -webkit-animation: fadeInScale 0.3s ease forwards;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  &--default {
    background: #fdb324;
  }
  &--removing {
    animation: fadeOutScale 0.3s ease forwards;
    -webkit-animation: fadeOutScale 0.3s ease forwards;
  }
}

.personal-account__promo-remove {
  background: none !important;
  border: none;
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-size: 20px;
  opacity: 0.4;
  font-weight: 900 !important;
  color: rgb(255, 0, 0) !important;
  &:hover {
    opacity: 1;
  }
}

.personal-account__promo-error {
  position: absolute;
  top: -17px;
  left: 0;
  color: red;
  font-size: 13px;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.personal-account__field--edit {
  position: relative;
}

.personal-account__user-info--edit {
  display: grid;
  grid-template-columns: auto;
  align-items: start;
  & .personal-account__field:nth-child(3) {
    display: flex;
    align-items: baseline;
  }
  & .personal-account__field--edit:nth-child(1) {
    gap: 0 30px !important;
    margin: 0;
    grid-template-rows: auto;
    width: fit-content;
    & > label {
      min-width: 0;
    }
    & .error {
      position: absolute;
      bottom: -18px;
      left: 68px;
      color: red;
      font-size: 13px;
    }
  }
  & .personal-account__field--edit:nth-child(2) {
    gap: 0 15px;
    margin: 0;
    grid-template-rows: auto;
    width: fit-content;
    & > label {
      min-width: 0;
    }
    & .error {
      position: absolute;
      bottom: -18px;
      left: 68px;
      color: red;
      font-size: 13px;
    }
  }
  & .personal-account__field--edit:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 19px 20px;
    margin: 0;
    & > label {
      min-width: 0;
    }
    & input:nth-child(3) {
      grid-column-start: 2;
    }
    & .error {
      position: absolute;
      bottom: 36px;
      left: 84px;
      color: red;
      font-size: 13px;
    }
  }
}

.personal-account__edit-buttons--edit {
  margin-top: 10px !important;
}

.personal-account__actions-bottom {
  display: flex;
  gap: 0 10px;
}

.personal-account__input-password-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  & > .personal-account__input--edit:first-child {
    padding-right: 30px;
  }
}

.personal-account__value-toggle {
  position: absolute;
  right: 8px;
  top: 8px;
}

.personal-account__repeat-password-error {
  top: 60px;
  left: 340px;
}

.personal-account__password-error,
.personal-account__name-error {
  top: 9px;
  left: 340px;
}

.personal-account__user-info--edit .personal-account__field:nth-child(3) {
  position: relative;
}

.personal-account__user-info--edit .personal-account__field:nth-child(1) {
  position: relative;
}

.personal-account__user-info--edit .personal-account__field:nth-child(3) .personal-account__hint,
.personal-account__user-info--edit .personal-account__field:nth-child(2) .personal-account__hint {
  color: red;
  font-size: 14px;
}
